<h1>Search term</h1>
<%=@search_term%>
<h1>Search Result</h1>
<h3>Province:</h3>
<%=@province_result%>
<h3>City:</h3>
<%=@city_result%>
<h3>County:</h3>
<%=@county_result%>
<%= link_to "Back to home", '/' %>